<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
    <link rel="stylesheet" href="/css/babbage.css">
</head>
<body class="home">
    <header id="head">
        <nav>
            <ul>
                <li><a href="/">Home</a> <a href="/Berner-Lee">Berner-Lee</a> <a href="/Clarke">Clarke</a> <a href="/Hamilton">Hamilton</a> <a href="/Hooper">Hooper</a> <a href="/Lovelace">Lovelace</a> <a href="/Turing">Turing</a> </li>
            </ul>
        </nav>
        <h1>Charles Babbage</h1>
    </header>
    <h2>

    </h2>
    <section>
        <p>
            <img src="/img/charles.jpg" alt="foto de babbage"> Charles Babbage fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "Alguien". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.
        </p>
    </section>
    <article>
        <p>
            <img src="/img/calcubabbage.jpg" alt="replica de calculadora de babbage">Esta máquina diferencial diseñada por Charles Babbage es una especie de calculadora primitiva, considerada uno de los sistemas pioneros de la informática.
            
            Una máquina diferencial es una calculadora mecánica de propósito especial, diseñada para calcular funciones polinómicas. Puesto que las funciones logarítmicas y trigonométricas pueden ser aproximadas por polinomios, esta máquina es más general de lo que parece al principio.

            Es un dispositivo de naturaleza mecánica para calcular e imprimir tablas de funciones. Más concretamente, calcula el valor numérico de una función polinómica sobre una progresión aritmética obteniendo una tabla de valores que se aproxima a la función real (basado en que cualquier función puede ser aproximada por polinomios).
            
            Esta máquina fue ideada por el militar, arquitecto e inventor alemán Johann Helfrich von Müller y redescubierta por el matemático británico Charles Babbage, ninguno de los cuales llegó a construirla.
            
            Una reconstrucción de la "Máquina Diferencial No.2" de Babbage está operativa desde 1991 en el Museo de Ciencias de Londres. Trabaja como él la diseñó y demuestra que estaba acertado en su teoría, además de que era capaz de fabricar sus partes con la precisión requerida. Babbage quizás falló a causa de que sus diseños fueron demasiado ambiciosos.
        </p>
    </article>
    
</body>
</html>