<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
    <link rel="stylesheet" href="/css/hamilton.css">
</head>
<body class="home">
    <header id="head">
        <nav>
            <ul>
                <li><a href="/">Home</a> <a href="/Babbage">Babbage</a> <a href="/Berner-Lee">Berner-Lee</a> <a href="/Clarke">Clarke</a> <a href="/Hooper">Hooper</a> <a href="/Lovelace">Lovelace</a> <a href="/Turing">Turing</a> </li>
            </ul>
        </nav>
    </header>
    
</body>
</html>