<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Murray Hopper</title>
    <link rel="stylesheet" href="/css/hooper.css">
</head>
<body class="home">
    <header id="head">
        <nav>
            <ul>
                <li><a href="/">Home</a> <a href="/Babbage">Babbage</a> <a href="/Berner-Lee">Berner-Lee</a> <a href="/Clarke">Clarke</a> <a href="/Hamilton">Hamilton</a> <a href="/Lovelace">Lovelace</a> <a href="/Turing">Turing</a> </li>
            </ul>
        </nav>
        <h1>Grace Murray Hopper</h1>
    </header>
    <section>
        <p>
            <img src="/img/grace-hoppers-107th-birthday-5447077240766464-3-hp_orig.gif" alt="gif hooper">Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992) fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I. Entre las décadas de los 50 y 60 desarrolló el primer compilador para un lenguaje de programación así como también propició métodos de validación. 

            Popularizó la idea de los lenguajes de programación independientes de la máquina, lo que derivó en el desarrollo de COBOL, un lenguaje de alto nivel de programación que aún se utiliza. Era conocida por sus amistades como Amazing Grace.
        </p>
    </section>
    <h2>Bug-Hooper</h2>
    <article>
        <p>
            <img src="/img/grace_hopper.jpg" alt="Grace Hooper Image">A menudo, se le atribuye erróneamente la invención del término bug para referirse a un error o fallo en un programa. Trabajando con un Mark II en la universidad de Harvard el 9 de septiembre de 1947, los ingenieros encontraron una mariposilla enganchada a uno de los relés del ordenador que impedía el funcionamiento del mismo. Dicho lepidóptero pasó a la historia de la informática por ser pegado al libro de registro de actividad del ordenador con el comentario «First actual case of bug being found», en español «Primer caso real de bug encontrado» (el término bug también significa bicho o insecto en castellano). Sin embargo, el término ya existía desde varias décadas antes.
        </p>
    </article>
    
    
</body>
</html>