<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    
        <nav>
            <ul>
                <li>
                    <l><a href="http://localhost:3030/">Home</a></l>
                </li>
                <li>
                    <l><a href="http://localhost:3030/clarke">Clarke</a></l>
                </li>
                <li>    
                    <l><a href="http://localhost:3030/hopper">Hooper</a></l>
                </li>    
            </ul>

        </nav>
    </header>
    <main>
        <section>
        <h1>Alan Turing</h1>
        <p>
            ¿Quién fue y que hizo Alan Turing?
Fue famoso por descifrar el código nazi en
la Segunda Guerra Mundial y pionero en otras ramas
como la biología y la inteligencia artificial, 
cuya contribución es imprescindible en el desarrollo 
de las tecnologías actuales. Lo recordamos a 108 años de su nacimiento.
        </p>
        <article>
            <img src="/img/download.jpg" alt="Imagen de Turing">
        </article>
        </section>
        <aside>

        </aside>    
    </main>
    <footer>

    </footer>
    
</body>
</html>