<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
    <link rel="stylesheet" href="/css/turing.css">
</head>
<body class="home">
    <header id="head">
        <nav>
            <li>
                <l><a href="http://localhost:3030/">Home</a></l>
            </li>    
        </nav>
    </header>
    <main>
        <section>
            <h1>Alan Turing</h1>
         <article>
                <p><img src="/img/download.jpg" alt="Imagen de Turing" class="primera">Alan Mathison Turing (Paddington, Londres; 23 de junio de 1912-Wilmslow, Cheshire; 7 de junio de 1954) fue un matemático, lógico, informático teórico, criptógrafo, filósofo y biólogo teórico británico.
                Está considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).
                Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina Enigma, y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park. Se ha estimado que su trabajo acortó la duración de esa guerra entre dos y cuatro años. Tras la guerra, diseñó uno de los primeros computadores electrónicos programables digitales en el Laboratorio Nacional de Física del Reino Unido y poco tiempo después construyó otra de las primeras máquinas en la Universidad de Mánchester.
                En el campo de la inteligencia artificial, es conocido sobre todo por la concepción de la prueba de Turing (1950), un criterio según el cual puede juzgarse la inteligencia de una máquina si sus respuestas en la prueba son indistinguibles de las de un ser humano.
                </p>
        </article>
        <h2> Biografía </h2>
        <p>
            Biografía de Alan Turing
            Alan Mathison Turing pasó a la historia como uno de los pioneros del estudio de la lógica de los ordenadores y como uno de los primeros en interesarse en el tema de la inteligencia artificial. Nacido el 23 de junio de 1912 en Londres, inspiró los términos actualmente de uso común en la informática, como "máquina de Turing" y "prueba de Turing".
            
            Más específicamente, se puede decir que como matemático aplicó el concepto de algoritmo a la computadora digital y, su investigación de la relación entre las máquinas y la naturaleza, creó el campo de la inteligencia artificial.
            
            Interesado sólo en las matemáticas y la ciencia, comenzó su carrera como matemático en el Kings College de la Universidad de Cambridge en 1931.
            
            En la escuela tenía un gran éxito, dada su tendencia a profundizar exclusivamente las cosas que le interesaban en serio. Sólo su gran amistad con Christopher Morcom, le permitió iniciar su carrera universitaria: su amigo, sin embargo, murió de tuberculosis dos años después. Pero la marca que le dejó en el alma fue profunda y significativa, induciendo a Turing a encontrar dentro de sí mismo, la determinación de continuar sus estudios e investigaciones.
            
            El gran apoyo moral y aliento que le brindó Morcom, indujeron a una gran mente como la de Turing, a desarrollar su inmenso potencial. A modo de ejemplo, descubrió, cinco años antes de Gödel, que los axiomas de las matemáticas no podían ser completos, una intuición que puso en crisis la creencia de que las matemáticas, como ciencia perfectamente racional, estaba exenta de cualquier tipo de crítica.
            
            A Turing se le presentaba entonces una ardua tarea: probar si había o no una manera de determinar si un determinado teorema era correcto o no. Si esto fuera posible, todas las matemáticas podrían haberse reducido a un simple cálculo. Turing, según su costumbre, se enfrentó a este problema de una manera nada convencional, reduciendo las operaciones matemáticas a sus componentes fundamentales. Operaciones tan fáciles que podrían llevarse a cabo de manera efectiva por una máquina.
            
            Se trasladó entonces a la Universidad de Princeton, donde comenzó a explorar lo que después se definiría como la "máquina de Turing", que, en otras palabras, no era más que un primitivo y primigenio "prototipo" de la computadora moderna. La genial intuición de Turing fue "romper" la instrucción que debía darse a la máquina, en un número de instrucciones sencillas, en la creencia de que podría desarrollar un algoritmo para cada problema: un proceso no muy diferente del que realizan los programadores de hoy.
            
            Durante la Segunda Guerra Mundial, Turing puso sus habilidades matemáticas al servicio de la "Dirección General de Comunicación" inglesa, para descifrar los códigos utilizados en las comunicaciones alemanas, una tarea particularmente difícil porque los alemanes habían desarrollado un dispositivo llamado "Enigma" que era capaz de generar un código que cambiaba constantemente. Durante este período, en el "Departamento de Comunicaciones", Turing y sus compañeros trabajaron con una herramienta llamada "Colossus" que descifró de forma rápida y eficiente los códigos alemanes creados con "Enigma". Se trataba, en esencia, de un conjunto de servomotores y metal, pero fue el primer paso hacia la computadora digital.
            
            Después de esta contribución fundamental al esfuerzo bélico, finalizada la guerra, continuó trabajando para el "Laboratorio Nacional de Física" (NPL),siguiendo sus investigaciones en el campo de los ordenadores digitales. Trabajó en el desarrollo del "Automatic Computing Engine"(ACE), uno de los primeros intentos de crear un verdadero computador digital. Fue durante este período que comenzó a explorar la relación entre las computadoras y la naturaleza. Escribió un artículo titulado "Maquinaria Inteligente", publicado finalmente en 1969. Esta fue una de las primeras veces en que se presentó el concepto de "inteligencia artificial". Turing, de hecho, era de la idea de que se podían crear máquinas que fueran capaces de simular los procesos del cerebro humano, apoyado en la creencia de que no hay nada, en teoría, que un cerebro artificial no pueda hacer, exactamente igual al del ser humano.
            
            Turing, en definitiva, era de la idea de que se podía alcanzar la quimera de una inteligencia realmente artificial, siguiendo el modelo del cerebro humano. En este sentido, en 1950, escribió un artículo en el que describía lo que hoy se conoce como la "prueba de Turing". Esta prueba, una especie de experimento mental (dado que cuando Turing lo escribió todavía no existían los medios para ponerla en práctica), suponía a una persona, encerrada en una habitación y sin tener ningún conocimiento del interlocutor con el que estuviera hablando, dialogara tanto con otro ser humano como con una máquina inteligente. Si la persona en cuestión no podía distinguir uno de la otra, entonces se podría decir que la máquina, de alguna manera, era inteligente.
            
            El matemático dejó el Laboratorio Nacional de Física antes de que se completara el  "Automatic Computing Engine" y se trasladó a la Universidad de Manchester, donde trabajó en la realización del Manchester Automatic Digital Machine (MADAM), con el sueño de ser capaz de ver a largo plazo, la quimera de la inteligencia artificial finalmente concretada.
            
            Personalidad severamente torturada (también a causa de su homosexualidad vivida con extrema incomodidad), con miles de contradicciones y capaz de peculiaridades y rarezas inverosímiles, Turing se suicidó,  los 42 años, el 7 de junio de 1954.
            
            60 años después de su muerte se filmó una película biográfica "The imitation game (Descifrando Enigma)", que narra la vida de Alan Turing y de como proyectó un sistema para descifrar los códigos secretos de los nazis durante la Segunda Guerra Mundial.
        </p>
        </section>
    </main>
    <footer>

    </footer>
    
</body>
</html>
