.home{
    background-image: url(../img/hamilton.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
}
.home h1{
    font-family: var(--fuenteTitulos);
    margin-top: 0%;
    font-size: 70px;
    text-align: center;
    color: rgb(71, 24, 24);
    -webkit-text-stroke: 2px rgb(14, 8, 8);
}
.home nav ul{

    margin: 0%;
    padding: 0%;
}
.home nav ul li{
    list-style: none;
    background-color: rgb(210, 205, 205);
    text-align: center;
}
a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(155, 188, 236);
    text-decoration: none;
    padding-left: 3%;
    padding-right: 3%;
    list-style: none;
    text-align: left;
}
.home section p{
    margin-top: 15%;
    margin-right: 60%;
    font-family: var(--fuenteSubtitulos);
    font-size: 150%;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
    color: rgb(254, 254, 254);
}
.home article p{
    text-align: left;
    font-family: var(--fuenteSubtitulos);
    font-size: 150%;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
    color: rgb(254, 254, 254);
}
.home section p img{
    float: right;
    width: 250px;
    height: 350px;
    border-radius: 30%; 
}
