*{
    margin: 0%;
    padding: 0%;
}
.home {
    background-color: rgb(12, 12, 10);
    background-image: url(../img/csm_ILONA_FOTA_3378bdad5b.jpg);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 100%;
    text-transform: uppercase;
}
.home header{
    margin-left: 30px;
}
.home header nav ul li{
    color: #6b6b6b;
    font-size: 35px;
    font-family: var(--fuenteNav);
    text-align: center ;
    margin: 20px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}
.home header nav ul li a{
    text-decoration: none;
}
.home main{
    margin-top: 120px;
}
.home main h2{
    margin-bottom: 150px;
    margin-left: 30px;
    font-family: var(--fuenteSubtitulos);
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 10px;
}
.home h1{
    font-size: 3rem;
    font-family: var(--fuenteTitulos);
    color: cornsilk;
    text-align: center;
    letter-spacing: 1px;

}
